.navbar{
    background-color: blueviolet;
}


h1{
    text-align: center;
}

.btn-primary{
    background-color: blueviolet;
}

.btn-outline-success{
    background-color: white;
}

.card-img-top{
    width: 80%;
}

footer{
    background-color: blueviolet;
    height: 60px;
    
}

.auti{
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.info{
    padding: 20px;
    margin: 20px;
}

h1{
    transform: translate(15px);
}

.infor{
    border-radius: 5px;
    transition: all 2;
    
}

.infor:hover{
background-color: rgb(200, 194, 204);
}