@import "utilities/colores";
@import "utilities/medidas";
@import "utilities/mixin";
@import "utilities/map";

.navbar{
    background-color: $colorgeneral;
}


h1{
    text-align: center;
    transform: translate(15px);
}


.card-img-top{
    width: 80%;
}

footer{
    background-color: $colorgeneral;
    height: 60px;
    
}

.auti{
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.info{
    @include flexi;
    padding: 20px;
    margin: 20px;
}

.sub{
    @include subrayado (rgb(201, 170, 210), 40px);

}

.infor{
    border-radius: 5px;
    transition: all 2;
    &:hover {
        background-color: rgb(200, 194, 204);
    }
    
}

.btn-primary{
    background-color: $colorgeneral;
    &:hover {
        background-color: $colorbotones-hover;
    }

}

.btn-outline-success{
    background-color: white;
    &:hover {
        background-color: $colorbotones-hover;
    }
}

ul{
    li{
        color: $colorgeneral;
    }
}

p{
    color: $colorgeneral;
}

.parra{ 
    background-color: aqua;
    width: ($parrafos * 5) + 100;
}

.dis {
    background-color: map-get($estilo, color);
    text-align: map-get($estilo, centro);
    padding: map-get($estilo, pad);
}

@each $bot, $color in $botones {
    .btn--#{$bot}{
        background-color: $color;
    }
    
}

